.chat-form {
  display: flex;
  flex-wrap: nowrap;
  height: 4rem;
  margin-top: 1rem;

  &__input {
      &--input {
        flex-grow: 9;
        margin-right: 1rem;
        height: 100%;
        
        background-color: $color-grey-light;
        border: solid 0.1rem rgba($color-grey-dark, 0.3);
        border-radius: 3rem;

        padding: 0.5rem 2rem;
    }
    
    &--submit {
        flex-grow: 1;
        height: 100%;
    }
  }
}
