body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 11rem;

  &--main {
    display: block;
    font-size: 4rem;
    font-weight: 700;

    animation: moveInBottom 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.5rem;

    animation: moveInTop 1s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
  }
}


.break-words {
  word-break: break-all;
}
